.uploadForm{
    padding: 0 10em;
    max-width: 80em;
    margin: 5em auto 0;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dropzoneContainer{
    display: flex;
    margin-bottom: 1em;
}

.dropzone {
    height: 250px;
    width: 250px;
    border: 2px solid rgb(197, 197, 197);
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(133, 132, 132);
    font-weight: 300;
    border-radius: 4px;
    margin-right: .1em;
}

.images{
    border: 2px solid rgb(197, 197, 197);
    height: 250px;
    flex: 1;
    display: flex;
    overflow-x: scroll;
    padding: .2em;
}

.images div img{
    width: 250px;
    min-width: 250px;
    height: 100%;
    margin-right: .2em;
}

.input {
    padding: 1em;
    margin: 1em 0;
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.input::placeholder {
    font-weight: 300;
    font-style: italic;
    font-family: 'Noto Sans KR', sans-serif;
}

.button{
    margin: 1.8em  auto;
    background: #2c70f8;
    outline: 0;
    border: 0;
    padding: 1em 1.8em;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
}