.mypage{
    display: flex;
    align-items: flex-start;
    padding: 5em 20em;
    flex-direction: column;
    height: 100%;
}

.mypage .nav .ul{
    margin: 0;
    padding: 0 0 2em 0;
    display: flex;
    align-items: center;
}

.mypage .nav .ul li{
    color: #807f7f;
    margin-bottom: .5em;
    cursor: pointer;
}

.ul li:first-child:after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 1px;
    background: black;
    margin: 0 .5em;
}
.mypage .nav .ul li.active{
    font-weight: 700;
    color: #292929;
    border-radius: 8px;
}

.mypageInfo{
    width: 100%;
    border-radius: 8px;
    text-align: left;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1500px) {
    .mypage{
        padding: 5em 10em;
    }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width:1023px) {
    .mypage{
        padding: 5em 10em;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width:800px) {
    .mypage{
        padding: 2em 2em 0;
    }
    .mypage .nav .ul li{
        font-size: .8rem;
    }
}