.main{
    padding-bottom: 3em;
}

.Identity{
    background: url("../../../ui/home.jpg") no-repeat center/cover;
}

.identityContainer{
    padding: 8em 20em;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 1px 1px 2px #252d3fbd;
}

.identityContainer h2, h3{
    margin: 0;
}

.identityContainer h2{
    font-size: 2.8rem;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: .6em;
}

.identityContainer h3{
    
    letter-spacing: 3px;
    font-size: 1.8rem;
    line-height: 1.2;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.title{    
    text-align: left;
    padding: 0 15em;
    margin: 2em 0 0;
}

.button{
    background: #d4d4d4;
    outline: 0;
    border: 0;
    padding: .8em 1.4em;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
    text-align: left;
}

.button a{
    color: white;
}