.main{
    padding-bottom: 3em;
}

.Identity{
    background: url("../../../ui/home.jpg") no-repeat center/cover;
}

.identityContainer{
    padding: 8em 20em;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 1px 1px 2px #252d3fbd;
}

.identityContainer h2, h3{
    margin: 0;
}

.identityContainer h2{
    font-size: 2.8rem;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: .6em;
}

.identityContainer h3{
    
    letter-spacing: 3px;
    font-size: 1.8rem;
    line-height: 1.2;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.title{    
    text-align: left;
    padding: 0 15em;
    margin: 2em 0 0;
}

.button{
    background: #d4d4d4;
    outline: 0;
    border: 0;
    padding: .8em 1.4em;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
    text-align: left;
}

.button a{
    color: white;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width:1023px) {
    .identityContainer{
        text-align: center;
        padding: 5em 15em;
    }

    .identityContainer h2{
        font-size: 2.3rem;
    }

    .identityContainer h3{
        font-size: 1.5rem;
    }

    .title{
        padding: 0 1em;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width:767px) {
    .identityContainer{
        text-align: center;
        padding: 5em 5em;
    }

    .identityContainer h2{
        font-size: 1.5rem;
    }

    .identityContainer h3{
        font-size: 1.1rem;
    }

    .title{
        padding: 0 1em;
        font-size: 1rem;
    }

    .landing{
        flex-direction: column;
    }
}