.card{
    width: 380px;
    height: 350px;
    border: 1px solid lightgrey;
    margin: 1em 1em;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
    background: #fff;
}

.image{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.card img{
    width: 100%;
}

.description{
    padding: 1em;
    height: 248px;
}

.description h3{
    height: 30px;
}

.description .detail{
    height: 94px;
    padding: .5em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
    line-height: 1.9;
}

.depart{
    display: flex;
    justify-content: center;
}
.departItem{
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: center;
}
.departItem div{
    border: 2px solid black;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .3em;
}

.departItem div.red{
    border-color: red;
}

.departItem div.blue{
    border-color: blue;
}

.departItem div.green{
    border-color: green;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width:1023px) {

    .card{
        width: 350px;
        height: 300px;
    }
    
    .image{
        width: 100%;
        height: 90px;
        overflow: hidden;
    }

    .description{
        padding: 1em;
        height: 108px;
    }
    
    .description h3{
        height: 15px;
        font-size: .95rem;
    }
    
    .description .detail{
        height: 94px;
        font-size: .8rem;
    }

    .departItem{
        font-size: .75rem;
        display: flex;
        width: 80px;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width:767px) {
    .card{
        width: 250px;
        height: 250px;
    }
    
    .image{
        width: 100%;
        height: 60px;
        overflow: hidden;
    }

    .description{
        padding: .5em;
        height: 188px;
    }
    
    .description h3{
        height: 10px;
        font-size: .85rem;
    }

    .departItem{
        font-size: .75rem;
        display: flex;
        width: 80px;
    }

    .description .detail{
        height: 98px;
        font-size: .8rem;
    }

}