.detail{
    display: flex;
    flex-direction: column;
    padding: 3em 28em;
}

.top{
    display: flex;
    margin-bottom: 1.2em;
}

.imageContainer{
    flex-basis: 60%;
}

.imageContainer img{
    width: 70%;
    height: 360px;
    min-width: 300px;
    border: 8px solid rgba(255, 255, 255, 0.329);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
}

.likeContainer{
    text-align: left;
    flex-basis: 40%;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.likeButton {
    background: #216ef9;
    border: 0;
    outline: 0;
    color: white;
    padding: 1em;
    width: 100px;
    border-radius: 6px;
    font-weight: 300;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5em
}

.UDButton{
    background: #456ebb;
    border: 0;
    outline: 0;
    color: white;
    padding: .5em;
    width: 60px;
    border-radius: 2px;
    font-weight: 300;
    margin-right: 1em;
}

.detailInfo{
    display: flex;
    flex-direction: column;
}

.tableDetail{
    background: white;
    padding: 2em 5em 4em;
    box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
    line-height: 2;
}

.title{
    margin: .2em 0 .8em;
    font-size: 2.5rem;
    display: block;
    margin: .5em 0;
    background: white;
    padding: .2em.4em;
    border-radius: 8px;

}

.detailInfo table tr:first-child {
    display: inline-block;
    margin-bottom: 2.5em;
}

.description{
    color: #216ef9;
    font-weight: 300;
}

.tableDepart{    
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
}
.departItem{
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: center;
}

.departItem div{
    border: 2px solid black;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .3em;
}

.departItem div.red{
    border-color: red;
}

.departItem div.blue{
    border-color: blue;
}

.departItem div.green{
    border-color: green;
}


@media screen and (max-width:1300px) {
    .detail{
        padding: 3em 15em;
    }
}

@media screen and (max-width:900px) {
    .detail{
        padding: 3em 8em;
    }
    .top{
        flex-direction: column;
    }

    .likeContainer{
        text-align: center;
        margin: auto;
        padding-left: 0;
        align-items: center;
    }

    .imageContainer img{
        width: 70%;
        height: 250px;
        min-width: 250px;
        border: 2px solid rgba(255, 255, 255, 0.329);
    }

    .title{
        margin: .2em 0;
        font-size: 1.5rem;
        margin: .5em 0;
        background: transparent;
        padding: .2em.4em;
    }

    .likeButton {
        color: white;
        padding: .8em;
        width: 80px;
        font-size: .7rem;
    }

    .tableDepart{    
        font-weight: 500;
        font-size: .8rem;
    }

    .tableDetail{
        font-size: .8rem;
    }
    .description{
        color: #216ef9;
        font-weight: 300;
        font-size: .7rem;
    }
}

@media screen and (max-width:720px) {
    .detail{
        padding: 3em 2em;
    }
    .imageContainer img{
        width: 70%;
        height: 180px;
        min-width: 250px;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
}